/* .footer-container {
  align-items: center;
  justify-content: center;
  background-color: #6ba641;  Verde escuro 
  bottom: 0;
  color: white;  Cor do texto 
  text-align: center;
}

.logoFooter img {
  display: block;
  align-self: center;
  margin: auto;
  justify-content: center;
  width: 200px;
  align-items: center;
}

.mapa {
  display: flex;
  justify-content: space-between;
}

.cardTextoFooter {
  width: 300px;
}
.fotos-cidade-estado {
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.fotos-cidade-estado img {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.cardTextoFooter p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  color: #fff;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .mapa {
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 40px;
  }

  .mapaGoogle {
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 100%;
  }
} */



.footer-container {
  align-items: center;
  justify-content: center;
  background-color: #6ba641; /* Verde escuro */
  bottom: 0;
  width: 100%;
  overflow: hidden;
  color: white; /* Cor do texto */
  text-align: center;
}

.logoFooter img {
  display: block;
  align-self: center;
  margin: auto;
  justify-content: center;
  width: 200px;
  align-items: center;
}

.mapa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  overflow: hidden;
}

.div-esquerda {
  width: 50%;
  padding: 20px;
}

.cardTextoFooter {
  text-align: justify;
}

.fotos-cidade-estado {
  width: 100%;
  display: flex;
  gap: 15px;
}
.fotos-cidade-estado img {
  width: 290px;
}
@media screen and (max-width: 480px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  .mapa {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .div-esquerda {
    width: 100%;
  }
  .fotos-cidade-estado {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .cardTextoFooter {
    width: 80%;
    align-items: center;
    margin: auto;
  }

  .mapaGoogle{
    width: 90%;
    margin-bottom: 20px;
    overflow: hidden;
  }
}
