.containerLocalizacao {
  padding: 20px 0px;
}
.tituloMapa {
  text-align: center;
  margin: auto;
  padding: 30px;
}

.tituloMapa span {
  font-family: "Roboto", sans-serif;
  color: #072e4a;
  font-size: 48px;
  font-weight: 800;
  padding: 5px;
}
.tituloMapa span:last-child {
  color: #10813b;
}

.mapa {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

.div-esquerda {
  width: 50%;
  padding: 20px;
  text-align: justify;
}

.cardTextoFooter p {
  padding: 10px 20px 20px 20px;
  text-align: justify;
}

.fotos-cidade-estado {
  width: 100%;
  display: flex;
  gap: 15px;
}
.fotos-cidade-estado img {
  width: 290px;
}

.mapaGoogle {
  width: 100%;
}
@media screen and (max-width: 480px) {
.containerLocalizacao .tituloMapa span {
    font-size: 20px;
  }

  .mapa {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .div-esquerda {
    width: 100%;
  }
  .fotos-cidade-estado {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .cardTextoFooter {
    width: 80%;
    align-items: center;
    margin: auto;
  }

  .mapaGoogle {
    width: 90%;
    margin-bottom: 20px;
    overflow: hidden;
  }
}
