.TituloProjeto {
    text-transform: uppercase;
    font-family: sans-serif;
    color: white;
    font-size: 48px;
    font-weight: 800;
    padding: 10px;
    
}

.containerTituloProjeto .TituloProjeto span:last-child {
    color: #07692d;
  }
  


  .containerTituloProjeto{
    margin-top: -5px;
    background-color: #012B4A;
    text-align: center;
    padding: 20px;
  }