.ios-toggle {
  background-color: #e5e5e5;
  border: none;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 25px;
  width: 15px;
  height: 30px;
  transform: translate(0, -50%);
  background-color: transparent;
}

.checkmark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 15px;
  border: solid #007aff;
  border-width: 0 3px 3px 0;
  transform: translate(0, -50%) rotate(45deg);
  display: none;
}


.active .checkmark::before {
  display: block;
}
